
.grid_container{
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    /* Using "grid" makes a 70px x 70px grid pattern*/
    grid: 70px 70px 70px / 70px 70px 70px;
    /* Adds a 4px space in between boxes*/
    grid-gap: 4px;
}
.grid > #block1 {
    background-color: #92a8d1;
}

.grid > #block2 {
    background-color: #33FF52;
}

.grid > #block3 {
    background-color: #FF3333;
}

.grid > #block4 {
    background-color: #DAF7A6;
}

.grid > #block5 {
    background-color: #33FFEC;
}

.grid > #block6 {
    background-color: #3346FF;
}

.grid > #block7 {
    background-color: #F633FF;
}
.grid > #block8 {
    background-color: #FFF933;
}
.grid > #block9 {
    background-color: #FFAC33;
}